ui-single-input {
  display: block;
  & > div::after {
    clear: both;
    content: "";
    display: block;
  }

  .input-value {
    border: 0;
    width: calc(100% - 100px);
    float: left;
    border-radius: $radius 0 0 $radius;
    &:focus {
      border-color: $teal;
      border-width: 2px;
      border-style: solid;
    }
  }

  .submit-button {
    float: left;
    width: 100px;
    margin: 0;
    border-radius: 0 $radius $radius 0;
  }

  @media (max-width: 400px) {
    .submit-button,
    .input-value {
      float: none;
      display: block;
      border-radius: $radius;
      margin: 0 auto;
    }
    .input-value {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
