form-donate {
  #donate-form {
    margin-top: 32px;

    p {
      font-size: 14px;
    }
    ul {
      margin-bottom: 24px;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
      }
    }

    label.radio {
      border-color: $gray2;
    }

    .donation-amount-list {
      margin: 0;
    }

    #custom-amount-text {
      position: relative;
      top: 4px;
    }

    #custom-amount {
      display: inline-block;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $blue;
      box-shadow: none;
      height: 30px;
      margin-left: 0.25rem;
      font-size: 18px;
      color: $blue;
      padding-left: 0;
      padding-right: 0;
      max-width: 80px;

      &:focus {
        border-bottom-color: $cyan;
      }
    }
  }

  .message {
    padding: 10px 20px;
    color: $blue;
    background: $yellow;
    border-radius: 8px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.05);

    &.is-error {
      background: $red;
    }
  }

  #share-donation {
    // Always hide (regardless of support) if not on mobile
    @media ($tablet) {
      display: none;
    }

    img,
    span {
      pointer-events: none;
    }

    img {
      height: 1em;
      width: 1em;
      margin-right: 8px;
    }
  }

  #donation-error {
    margin-bottom: 1rem;
    h2 {
      &,
      & a {
        color: $blue;
      }
    }
  }
}
