ui-share-links {
  &.can-native-share {
    // Hide on mobile if native sharing is supported
    display: none;
    // Show if not on mobile regardless
    @media ($tablet) {
      display: block;
    }
  }
}

.share-links {
  padding: 0;

  li {
    display: block;
    margin: 0 auto 10px;

    @media ($tablet) {
      display: inline-block;
      margin: 0 10px 10px 0;
    }

    .share-donation-link {
      img,
      span {
        pointer-events: none; // important
      }

      img {
        margin-right: 8px;
      }
    }

    stencil-route-link a {
      &,
      &:active {
        color: white;
        text-decoration: none;
      }
    }
  }
}
