ui-main-content {
  .background {
    background-attachment: fixed;
    background-size: 400px;
    padding-bottom: 40px;
    &.bg-yellow {
      background-color: $yellow;
      background-image: url("/images/bg1.png");
    }
    &.bg-cyan {
      background-color: $cyan;
      background-image: url("/images/bg2.png");
    }
    &.bg-teal {
      background-color: $teal;
      background-image: url("/images/bg2.png");
    }
    &.bg-red {
      background-color: $red;
      color: $white;
      background-image: url("/images/bg2.png");
    }
  }

  .container {
    padding: 30px 20px 0 20px;
    &.full-bleed {
      padding: 0;
    }
    margin: 0 auto;
  }
}
