ui-main-content {
  .background {
    background-attachment: fixed;
    background-size: 400px;
    padding-bottom: 40px;
  }

  .container {
    padding: 30px 20px 0 20px;
    &.full-bleed {
      padding: 0;
    }
    margin: 0 auto;
  }
}
