page-donate {
  .container {
    padding-top: 30px;
  }
  h1 {
    color: white;
    text-align: left;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      margin: 0;
    }
  }

  .donate {
    background-color: $red;
    color: #fff;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;
    padding-bottom: 40px;
  }

  #donate-form {
    padding: 20px;
    background: #fff;
    color: $blue2;
    max-width: 600px;
    margin: 40px auto 0 auto;

    p {
      font-size: 14px;
      padding: 10px;
    }
  }

  .message {
    padding: 10px 20px;
    background: #3dc1c8;
    border-radius: 8px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.05);

    &.is-error {
      background: $red;
    }
  }

  .radio {
    color: $blue2;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;
    margin-bottom: 10px;
    border: 1px solid $gray2;
  }

  .radio:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0px 3px $blue;
  }

  .radio input {
    display: inline-block;
    width: 40px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
  }

  .radio label {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:focus + label,
  input[type="text"]:focus + label {
    background-color: $blue2;
    color: $white;
  }

  .radio input[type="text"] {
    border-bottom: 2px solid $blue;
    width: 100px;
    padding: 5px;
    color: $blue2;
  }

  .submit {
    transition: opacity 0.2s ease-in;
    border-radius: 4px;
  }

  .is-disabled {
    opacity: 0;
    cursor: default;
  }
}
