page-donate {
  ui-card {
    background: $tan;
    margin: 0 1rem;
    @media ($tablet) {
      margin: 0;
    }
  }
  .donation-intro {
    font-size: 16px;
    font-weight: normal;
    padding: 0 1rem;
    img {
      display: none;
      width: 100%;
    }

    @media ($tablet) {
      padding: 0;
      img {
        display: block;
      }
    }
  }
  .container {
    @media ($tablet) {
      display: flex;
      justify-content: center;
      ui-card,
      .donation-intro {
        width: 100%;
        margin: 0 2rem;
      }
    }
    display: block;
  }
}
