.page {
  background: #fff;
}

.partners {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  li {
    margin: 40px 20px;
    max-width: 50%;

    img {
      max-height: 100px;
      width: auto;
    }
  }
}

.partners:first-of-type {
  img {
    max-height: 150px;
  }
}
