:host {
  display: block;
}

.partners {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  li {
    margin: 40px 20px;

    img {
      height: 100px;
    }
  }
}

.partners:first-of-type {
  img {
    height: 150px;
  }
}
