@import "./css/base.scss";
@import "./css/button.scss";
@import "./css/file-input.scss";
@import "./css/select.scss";
@import "./css/form.scss";
@import "./css/radio-and-checkbox.scss";

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/bg1.png");
  background-size: 400px;
  z-index: 1;
}

.page {
  color: $blue;
  background: $gray1;
  padding: 40px 0;

  h1 {
    text-align: left;
    font-size: 2em;
    color: $blue;
  }

  p + h2 {
    margin-top: 2em;
  }

  h3 + p {
    margin-top: 0;
  }

  p + h3 {
    margin-top: 1.5em;
  }

  img {
    max-width: 100%;
  }
}

.photo-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  img {
    width: 24%;
    height: auto;
    border-radius: 10px;
  }
}

.header {
  color: $white;
  border-top: 10px solid $red;
  position: sticky;
  width: 100%;
  background-color: $white;
  background-size: 200px;
  top: 0;
  z-index: 1000;
  padding: 10px 5px;
  text-align: center;
  box-shadow: $box-shadow;

  @media ($tablet) {
    border-bottom: none;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
  }

  stencil-route-link,
  stencil-route-link > a {
    display: inline-block;
  }

  img {
    width: 300px;
    vertical-align: middle;

    @media ($tablet) {
      width: 400px;
    }
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    font-weight: 600;
    z-index: 1000;
    text-align: center;

    @media ($tablet) {
      position: relative;
      top: 0;
      text-align: center;
      padding: 20px 0 0 0;
    }

    li {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      margin: 0 0.75rem;
      position: relative;
      color: $blue;

      @media (min-width: 360px) {
        font-size: 15px;
      }

      @media (min-width: 400px) {
        font-size: 16px;
      }

      @media ($tablet) {
        display: inline-block;
        width: auto;
        padding: 0 0.75rem;
        font-size: 24px;
      }

      &:after {
        content: "|";
        position: absolute;
        top: 0;
        right: -0.75rem;
      }

      &:last-child:after {
        content: "";
      }
    }

    a,
    stencil-route-link a {
      text-decoration: none;
      color: $blue;
      display: block;
      transition: color 0.2s ease-in-out;

      &:active,
      &.link-active {
        color: $red !important;
      }
    }
  }
}

footer {
  background: $blue;
  border-top: 5px solid $red;
  color: $white;
  padding: 40px 0;

  a:not(.button) {
    color: $white;
    border-color: transparent;

    &:hover,
    &:active,
    &:focus {
      color: darken($white, 10%);
      border-color: transparent;
    }
  }

  .email-signup-input {
    border: 0;
    width: calc(100% - 100px);
    float: left;
    border-radius: $radius 0 0 $radius;
  }

  .email-signup-button {
    float: left;
    width: 100px;
    margin: 0;
    border-radius: 0 $radius $radius 0;
  }

  .footer-nav {
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    border-top: 3px solid $white;

    @media ($tablet) {
      flex-direction: row;
    }

    ul {
      list-style-type: none;
      padding: 0 40px 0 0;
      flex-grow: 1;

      li {
        font-size: 18px;

        a:not(.button) {
          text-decoration: none;
          border-color: transparent;

          &.link-active {
            color: $cyan;
          }
        }
      }
    }

    .social {
      padding: 0;
      text-align: left;

      @media ($tablet) {
        text-align: right;
      }

      li {
        display: inline-block;
        margin: 0 10px;

        .icon {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

@media ($tablet) {
  h1 .emoji,
  h1 .emoji:first-of-type {
    display: inline;
  }

  p {
    font-size: 18px;
  }
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 999999;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: $white;
  border-radius: 50%;
  border: 2px solid $teal;
  box-shadow: $box-shadow;
  transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  &:after {
    @include arrow;
    top: 1.3333rem;
    right: 0.75rem;
    border-color: $teal;
    transition: border-color 0.2s ease-in-out;
    transform: rotate(135deg);
  }

  &:hover,
  &:hover:after {
    border-color: $cyan;
  }

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
