@import "../../../styles/global/base.scss";
@import "../../../styles/global/button.scss";
@import "../../../styles/global/expand.scss";
@import "../../../styles/global/file-input.scss";
@import "../../../styles/global/select.scss";
@import "../../../styles/global/form.scss";
@import "../../../styles/global/radio-and-checkbox.scss";
@import "../../../styles/global/header.scss";
@import "../../../styles/global/footer.scss";
@import "../../../styles/global/modal.scss";

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/bg1.png");
  background-size: 400px;
  z-index: 1;
}

.page {
  color: $blue;
  background: $gray1;
  padding: 40px 0;

  h1 {
    text-align: left;
    font-size: 2em;
    color: $blue;
  }

  p + h2 {
    margin-top: 2em;
  }

  h3 + p {
    margin-top: 0;
  }

  p + h3 {
    margin-top: 1.5em;
  }

  img {
    max-width: 100%;
  }
}

.photo-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  img {
    width: 24%;
    height: auto;
    border-radius: 10px;
  }
}

@media ($tablet) {
  h1 .emoji,
  h1 .emoji:first-of-type {
    display: inline;
  }

  p,
  li {
    font-size: 18px;
  }
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 999999;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 2px solid $teal;
  transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  &:after {
    @include arrow;
    top: 1.3333rem;
    right: 0.75rem;
    border-color: $teal;
    transition: border-color 0.2s ease-in-out;
    transform: rotate(135deg);
  }

  &:hover,
  &:hover:after {
    border-color: $cyan;
  }

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
