.header {
  color: $white;
  border-top: 10px solid $red;
  position: sticky;
  width: 100%;
  background-color: $white;
  background-size: 200px;
  top: 0;
  z-index: 1000;
  padding: 20px 5px;
  text-align: center;

  img {
    width: 300px;
    vertical-align: middle;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  width: 100%;
  font-weight: 600;
  z-index: 1000;
  text-align: center;

  li {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 10px;
    position: relative;
    color: $blue;

    &:after {
      content: "|";
      position: absolute;
      top: 0;
      right: -15px;
    }

    &:last-child:after {
      content: "";
    }
  }

  a,
  stencil-route-link {
    text-decoration: none;
    color: $red;
    display: block;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }

  a:active,
  .link-active {
    color: $cyan;
  }
}

@media (min-width: 600px) {
  .header {
    border-bottom: none;
    position: relative;
    padding-left: 0;
    padding-right: 0;

    img {
      width: 400px;
    }
  }

  .menu {
    position: relative;
    top: 0;
    text-align: center;
    padding: 20px 0 0 0;

    li {
      display: inline-block;
      width: auto;
      font-size: 24px;
    }
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: $white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  color: $blue;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: $red;
  text-decoration: underline;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: darken($red, 10%);
  }
}

h1 {
  font-family: $header-font;
  font-weight: 400 !important;
  font-size: 2em;
  margin-top: 0 !important;
  margin-bottom: 0.5em;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 0.5714em;

  &:not(:first-child) {
    margin-top: 1.1428em;
  }
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
  &:not(:first-child) {
    margin-top: 1.3333em;
  }
}

h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

form {
  border-radius: $radius;
  padding: 0;
}

p,
li {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.display {
  font-family: $header-font;
  font-weight: 400;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

[hidden] {
  display: none;
}

// Color helpers
@each $name, $color in $text-colors {
  .has-text-#{$name} {
    color: $color !important;
  }
  .has-background-#{$name} {
    background-color: $color !important;
  }
  a.has-text-#{$name} {
    &:hover,
    &:focus {
      color: darken($color, 10%) !important;
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/bg.png");
  background-size: 400px;
  z-index: 1;
}

// start form controls
.radio {
  color: $blue;
  border-radius: $radius;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  margin-bottom: 10px;
  border: 1px solid $gray2;

  &:hover {
    border: 1px solid $cyan;
    box-shadow: 0 0 0px 2px $cyan;
  }

  input {
    display: inline-block;
    width: 40px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $white;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
  }

  input[type="text"] {
    border-bottom: 2px solid $blue;
    width: 100px;
    padding: 5px;
    color: $blue;

    &:focus {
      outline: none;
      border-bottom-color: $cyan;
    }
  }

  label {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.input {
  @include input-textarea-control;
}

.textarea {
  @include input-textarea-control;
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical;

  &:not([rows]) {
    max-height: 40em;
    min-height: 8em;
  }

  &[rows] {
    height: initial;
  }

  &.has-fixed-size {
    resize: none;
  }
}

input[type="radio"]:checked + label,
input[type="radio"]:focus + label,
input[type="text"]:focus + label {
  background-color: $blue;
  color: $white;
}
// end form controls

.form-item {
  padding: 16px 0;
  border-top: none;

  table {
    width: 100%;
  }
}

label,
.label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &.no-margin {
    margin-bottom: 0;
  }

  .required {
    position: relative;
    top: -4px;
    left: -4px;
    color: $cyan;
    font-weight: 600;
    font-size: 20px;
  }
}

legend {
  font-weight: 600;
  font-size: 1.2em;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
:placeholder  {
  color: $gray2;
  font-family: $body-font;
}

.help {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.25rem;
}

section {
  padding: 20px 0;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.is-disabled {
  opacity: 0;
  cursor: default;
}

.page {
  background-color: $gray1;
  color: $blue;
  padding-bottom: 40px;

  .photo {
    border-radius: 10px;
  }

  h1 {
    text-align: left;
    font-size: 2em;
    color: $blue;
  }

  p + h2 {
    margin-top: 2em;
  }

  h3 {
    margin-bottom: 0;
  }

  h3 + p {
    margin-top: 0;
  }

  p + h3 {
    margin-top: 1.5em;
  }

  img {
    max-width: 100%;
  }
}

.photo-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  img {
    width: 24%;
    height: auto;
    border-radius: 10px;
  }
}

footer {
  background: $blue;
  border-top: 5px solid $red;
  color: $white;
  padding: 40px 0;

  .email-signup-input {
    border: 0;
    width: calc(100% - 100px);
    float: left;
    border-radius: $radius 0 0 $radius;
  }

  .email-signup-button {
    float: left;
    width: 100px;
    border-radius: 0 $radius $radius 0;
  }
}

footer a:not(.button) {
  color: $white;
  border-color: transparent;

  &:hover,
  &:active,
  &:focus {
    color: darken($white, 10%);
    border-color: transparent;
  }
}

.footer-nav {
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  border-top: 3px solid $white;

  ul {
    list-style-type: none;
    padding: 0 40px 0 0;
    flex-grow: 1;

    li {
      font-size: 18px;

      a:not(.button) {
        text-decoration: none;
        border-color: transparent;

        &.link-active {
          color: $cyan;
        }
      }
    }
  }

  .social {
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  @media (min-width: 600px) {
    flex-direction: row;

    .social {
      text-align: right;
    }
  }
}

@media ($tablet) {
  h1 .emoji,
  h1 .emoji:first-of-type {
    display: inline;
  }

  p,
  li {
    font-size: 18px;
  }
}

#payment-request-button {
  margin-top: 18px;
}

.button {
  @include base-control;
  background-color: $teal;
  border-color: $teal;
  border-width: 1px;
  color: $white;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  text-decoration: none;
  font-family: $body-font;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  strong {
    color: inherit;
  }

  // States
  &:hover {
    color: $white;
    background-color: darken($teal, 2.5%);
    border-color: darken($teal, 2.5%);
  }

  &:focus {
    color: $white;
    background-color: darken($teal, 5%);
    border-color: darken($teal, 5%);
  }

  &:active {
    color: $white;
    background-color: darken($teal, 10%);
    border-color: darken($teal, 10%);
  }

  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $white;
    background-color: $teal;
    border-color: transparent;
    box-shadow: none;
    opacity: 0.5;
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }

  &.is-fullwidth-mobile {
    @media ($under-tablet) {
      display: flex;
      width: 100%;
    }
  }

  // Cycle through button colors
  @each $name, $colors in $button-colors {
    $color: nth($colors, 1);
    $background: nth($colors, 2);
    &.is-#{$name} {
      color: $color;
      background-color: $background;
      border-color: $background;

      &:hover {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($background, 5%);
      }

      &:focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($background, 10%);
      }

      &:active {
        color: $color;
        background-color: darken($background, 15%);
        border-color: darken($background, 15%);
      }

      &.is-disabled,
      &[disabled],
      fieldset[disabled] & {
        color: $color;
        background-color: $background;
        border-color: transparent;
        box-shadow: none;
        opacity: 0.5;
      }
    }
  }

  .icon,
  > img {
    height: 1.5em;
    width: 1.5em;
  }
}

.box {
  background-color: $white;
  border-radius: $radius;
  box-shadow: $box-shadow;
  color: $blue;
  display: block;
  padding: 1.25rem;
}