page-activity {
  ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 40px;
    overflow-y: auto;
    background: rgba($blue, 0.1);
    padding: 10px;
  }

  .refresh {
    float: right;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  .orders li {
    font-size: 18px;

    a {
      padding: 5px 10px;
      margin-bottom: 5px;
      text-decoration: none;
      display: block;

      &,
      &:hover {
        color: black;
      }

      &:hover {
        border-left: 4px solid $yellow;
      }
    }
  }
}
