page-activity {
  .activity {
    background-color: $cyan;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;
    padding-bottom: 40px;
  }

  .date-header {
    text-align: left;
    color: $white;
    background: $blue;
    margin-bottom: 0;
    padding: 10px 15px;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;

    @media ($under-tablet) {
      font-size: 1em;
    }
  }

  .order-list > ul {
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    background: $gray1;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    padding: 0 10px 1.5rem;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }

    > li {
      font-size: 16px;
      line-height: 1.3;

      @media ($tablet) {
        font-size: 18px;
        line-height: 1.5;
      }

      &:first-of-type {
        margin-top: 1rem;
      }

      // Nested list items
      > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0.5rem 0;
          font-size: 14px;
        }
      }
    }

    a {
      font-weight: 400;
    }
  }

  .refresh-button {
    @media ($tablet) {
      float: right;
    }
  }

  #loading-container {
    min-height: 300px;

    ui-card.is-small {
      border: 0;
      p {
        font-size: 16px !important;
      }
    }
  }
}
