.button {
  @include base-control;
  background-color: $teal;
  border-color: $teal;
  border-width: 1px;
  color: $white;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto 1rem;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  text-decoration: none;
  font-family: $body-font;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  strong {
    color: inherit;
  }

  // States
  &:hover {
    color: $white;
    background-color: darken($teal, 2.5%);
    border-color: darken($teal, 2.5%);
  }

  &:focus {
    color: $white;
    background-color: darken($teal, 5%);
    border-color: darken($teal, 5%);
  }

  &:active {
    color: $white;
    background-color: darken($teal, 10%);
    border-color: darken($teal, 10%);
  }

  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    color: $white;
    background-color: $teal;
    border-color: transparent;
    box-shadow: none;
    opacity: 0.5;
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }

  &.is-fullwidth-mobile {
    @media ($under-tablet) {
      display: flex;
      width: 100%;
    }
  }

  // Cycle through button colors
  @each $name, $colors in $button-colors {
    $color: nth($colors, 1);
    $background: nth($colors, 2);
    &.is-#{$name} {
      color: $color;
      background-color: $background;
      border-color: $background;

      &:hover {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($background, 5%);
      }

      &:focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($background, 10%);
      }

      &:active {
        color: $color;
        background-color: darken($background, 15%);
        border-color: darken($background, 15%);
      }

      &.is-disabled,
      &[disabled],
      fieldset[disabled] & {
        color: $color;
        background-color: $background;
        border-color: transparent;
        box-shadow: none;
        opacity: 0.5;
      }

      svg {
        fill: $color;
      }
    }
  }

  &.is-white {
    border-color: $border-color;

    &:hover {
      border-color: darken($border-color, 5%);
    }
  }

  .icon,
  > img {
    height: 1.5em;
    width: 1.5em;
  }
}
