.expand-section-link {
  color: $blue;
  max-width: 100%;
  position: relative;
  margin-bottom: 0;
  padding-right: 2.5rem;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
  @include unselectable;

  &:hover,
  &:focus {
    color: $cyan !important;
    outline: none;

    &::after {
      border-color: $cyan !important;
    }
  }

  @media ($tablet) {
    padding-top: 0;
  }

  &::after {
    @include arrow;
    top: 40%;
    border-color: $blue;
    right: 0;
    z-index: 4;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

  &.is-active {
    color: $teal;

    // rotate arrow
    &::after {
      border-color: $teal;
      transform: rotate(135deg);
      top: 60%;
    }
  }
}

.expand-section-link {
  display: block;
  font-weight: 600;
  line-height: 1.3;
  font-size: 1.15em;
  margin-bottom: 0;
  text-decoration: none;

  @media ($tablet) {
    font-size: 1.25em;
  }

  &.is-header {
    font-size: 1.3em;

    @media ($tablet) {
      font-size: 1.5em;
    }
  }
}

.expand-section {
  margin-top: -192px; // allow scrolling for mobile header height
  padding-top: 192px; // allow scrolling for mobile header height
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;

  @media ($tablet) {
    margin-top: -72px; // allow scrolling for mobile header height
    padding-top: 72px; // allow scrolling for mobile header height
  }

  &.is-active {
    max-height: none;
    transition: max-height 0.2s ease-in-out;
    opacity: 1;
    pointer-events: auto;
  }

  .expand-content {
    padding-top: 1.5rem;
  }
}
