footer {
  background: $blue;
  border-top: 5px solid $red;
  color: $white;
  padding: 40px 0;

  a:not(.button) {
    color: $white;
    border-color: transparent;

    &:hover,
    &:active,
    &:focus {
      color: darken($white, 10%);
      border-color: transparent;
    }
  }

  .email-signup-input {
    border: 0;
    width: calc(100% - 100px);
    float: left;
    border-radius: $radius 0 0 $radius;
  }

  .email-signup-button {
    float: left;
    width: 100px;
    border-radius: 0 $radius $radius 0;
  }
}

.footer-nav {
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  border-top: 3px solid $white;

  @media ($tablet) {
    flex-direction: row;
  }

  ul {
    list-style-type: none;
    padding: 0 40px 0 0;
    flex-grow: 1;

    li {
      font-size: 18px;

      a:not(.button) {
        text-decoration: none;
        border-color: transparent;

        &.link-active {
          color: $cyan;
        }
      }
    }
  }

  .social {
    padding: 0;
    text-align: left;

    @media ($tablet) {
      text-align: right;
    }

    li {
      display: inline-block;
      margin: 0 10px;

      .icon {
        height: 40px;
        width: 40px;
      }
    }
  }
}
