.header {
  color: $white;
  border-top: 10px solid $red;
  position: sticky;
  width: 100%;
  background-color: $white;
  background-size: 200px;
  top: 0;
  z-index: 1000;
  padding: 10px 5px;
  text-align: center;
  box-shadow: $box-shadow;

  @media ($tablet) {
    border-bottom: none;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
  }

  stencil-route-link,
  stencil-route-link > a {
    display: inline-block;
  }

  img {
    width: 300px;
    vertical-align: middle;

    @media ($tablet) {
      width: 400px;
    }
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  width: 100%;
  font-weight: 600;
  z-index: 1000;
  text-align: center;

  @media ($tablet) {
    position: relative;
    top: 0;
    text-align: center;
    padding: 20px 0 0 0;
  }

  li {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 10px;
    position: relative;
    color: $blue;

    @media ($tablet) {
      display: inline-block;
      width: auto;
      font-size: 24px;
    }

    &:after {
      content: "|";
      position: absolute;
      top: 0;
      right: -15px;
    }

    &:last-child:after {
      content: "";
    }
  }

  a,
  stencil-route-link {
    text-decoration: none;
    color: $red;
    display: block;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }

  a:active,
  .link-active {
    color: $cyan;
  }
}
