$border: $blue;

.hero {
  background-image: url("/images/bg.png");
  background-size: 400px;
  background-color: $yellow;
  background-attachment: fixed;
  color: $blue;
  padding: 20px 0 0 0;
}

.intro {
  p {
    font-size: 18px;
    margin-top: 0;
    display: block;
    margin: 0 auto 30px;
    font-weight: 600;
    text-align: center;
  }
}

.dashboard.launching {
  .stats {
    background-color: $blue;
  }
  h2,
  p {
    color: $white;
  }
  p {
    font-size: 1.33rem;
  }
  h2 {
    border-bottom-color: $white;
  }
  .programs {
    a {
      font-size: 1.85rem;
      display: block;
      margin: 60px auto;
      max-width: 72%;
      text-decoration: none;

      p {
        font-weight: 400;
        line-height: 1.25rem;
      }

      span {
        font-weight: 600;
      }

      div {
        background-color: $white;
        padding: 14px 30px;
        border-radius: 4px;
      }

      p,
      &,
      &:visited,
      &:active {
        color: $cyan;
      }

      &:hover {
        p,
        & {
          color: $white;
        }

        div {
          background-color: $cyan;
        }

        span {
          text-decoration: underline;
        }
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

.dashboard-bg {
  background-color: $blue;
  background-image: url("/images/bg2.png");
  background-attachment: fixed;
  background-size: 400px;
  width: 100%;
  height: 53%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.dashboard {
  color: $blue;
  text-align: center;
  position: relative;
  padding: 0 0 20px 0;

  h2 {
    position: relative;
    display: block;
    padding: 0 0 20px 0;
    margin: 0;
    z-index: 101;
    border-bottom: 4px solid $blue;
    font-size: 32px;
  }
}

.stats {
  padding: 40px;
  background: $white;
  color: $blue;
  position: relative;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 10px 40px 0 rgba($blue, 0.3);
  text-align: center;

  h2 {
    font-size: 24px;

    @media ($tablet) {
      font-size: 32px;
    }
  }

  .button {
    max-width: 400px;
  }
}

.stats__row {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;

  &:first-of-type {
    padding: 20px 0;
    border-bottom: 4px solid $blue;
    margin-bottom: 40px;
  }
}

.stat__info {
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.stat {
  text-align: center;
  padding: 10px;
  width: 50%;
}

.stat:last-of-type {
  border-bottom: none;
}

.stat__number {
  font-size: 24px;
  font-family: $header-font;

  @media ($tablet) {
    font-size: 32px;
  }
}

.stat__label {
  display: block;
}

.stat__link {
  color: $teal;
  display: inline-block;
  text-align: center;
  font-weight: 600;

  &:hover {
    color: darken($teal, 10%);
  }
}

@media ($tablet) {
  .stats__row {
    display: flex;
  }

  .stat {
    display: table-cell;
    width: 24.5%;
    text-align: center;
    padding: 20px;
    border-bottom: none;
    margin-right: 2px;
  }

  .stat:last-of-type {
    border-right: none;
  }
  .stat__info {
    text-align: right;
  }
}

@media ($tablet) {
  .intro {
    padding: 20px 0;
  }

  .hero {
    p {
      font-size: 24px;
      max-width: 80%;
    }
  }
}

.home-secondary {
  background: $blue;
  background-image: url("/images/bg2.png");
  background-attachment: fixed;
  background-size: 400px;
  text-align: center;

  p {
    color: $white;
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto 20px;
  }

  .button {
    max-width: 400px;
  }
}
