page-home {
  h2 {
    margin-bottom: 1.5rem;
    font-size: 24px;

    @media ($tablet) {
      font-size: 32px;
    }
  }

  .hero {
    color: $white;
    position: relative;

    .hero-image-container {
      display: block;
      background: url("images/hero.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 25%;
      min-height: 300px;
      width: 100%;
    }

    .tagline {
      font-weight: bold;
      background-color: $blue;
      text-align: center;
      width: 100%;
      color: $white;
      left: 0;
      bottom: 0;
      padding: 20px;
      border-top: 10px solid $cyan;
      margin: 0 auto;
      font-size: 18px;

      p {
        max-width: 600px;
        margin: 0 auto;
      }

      .button {
        display: inline-block;
        margin-top: 30px;

        @media ($desktop) {
          font-size: 24px;
        }
      }

      .donate-button-subtext {
        font-weight: 500;
        font-size: 13px;

        @media ($desktop) {
          font-size: 12.8px;
        }
      }
    }

    @media ($tablet) {
      .hero-image-container {
        min-height: 500px;
        overflow: hidden;
      }

      .tagline {
        p {
          font-size: 24px;
        }
      }
    }

    @media ($desktop) {
      .hero-image-container {
        height: 60vh;
        max-height: 900px;
      }

      .tagline {
        width: 800px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -400px;
        border: 10px solid $cyan;
      }
    }
  }

  .totals {
    background-image: url("/images/bg1.png");
    background-size: 400px;
    background-color: $yellow;
    background-attachment: fixed;
    color: $blue;
    padding: 10px 0 60px 0;
  }

  .stats-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-top: 4px solid $blue;

    .stat {
      width: 33%;
      text-align: center;
      padding: 0.75rem 0;

      @media ($tablet) {
        display: table-cell;
        text-align: center;
        padding: 1rem;
        border-bottom: none;
        margin-right: 2px;

        &:last-of-type {
          border-right: none;
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      .stat-number {
        font-size: 24px;
        font-family: $header-font;

        @media ($tablet) {
          font-size: 32px;
        }
      }

      .stat-label {
        display: block;
        font-size: 14px;

        @media ($tablet) {
          font-size: 16px;
        }
      }
    }
  }

  .donate {
    color: $blue;
    background: $cyan;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;
    padding-bottom: 40px;

    .stats-row {
      margin-bottom: 0.5rem;
      justify-content: left;

      .stat {
        text-align: left;

        @media ($under-tablet) {
          width: 50%;
        }
      }
    }
  }

  .hero-section,
  .report,
  .donate {
    color: $blue;
    position: relative;
  }

  .report-content,
  .donate-content {
    position: relative;
    margin-top: 1rem;
    z-index: 100;
  }

  .report-bg {
    background-color: $cyan;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;
    width: 100%;
    height: 14%;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  .how-we-do-it {
    color: $blue;
    background: $teal;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;

    h2 {
      text-align: center;
    }

    .container {
      max-width: 1200px;
    }
  }
}

.press {
  background-color: $gray2;
  background-image: url("/images/bg2.png");
  background-attachment: fixed;
  background-size: 400px;

  h2 {
    text-align: center;
  }

  .container {
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }

  a {
    width: 40%;
    display: inline-block;
  }

  @media ($tablet) {
    a {
      width: 20%;
    }
  }
}
