page-home {
  h2 {
    margin-bottom: 1.5rem;
    font-size: 24px;

    @media ($tablet) {
      font-size: 32px;
    }
  }

  .hero {
    background-color: $red;
    color: $white;
    padding: 40px 0;

    .button + .button {
      margin-left: 1rem;
    }

    .container {
      display: flex;
      flex-direction: column;

      @media ($desktop) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      h1 {
        color: $tan;
        font-size: 3rem;
        line-height: 3rem;
        text-transform: uppercase;
        margin: 0 0 1rem 0;

        @media ($widescreen) {
          font-size: 6rem;
          line-height: 5.5rem;
        }
        @media ($desktop) {
          font-size: 4.8rem;
          line-height: 4rem;
          margin: 0 0 1rem 0;
        }
      }

      p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        @media ($tablet) {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 2rem;
        }
        @media ($desktop) {
          margin-bottom: 1rem;
        }
      }

      .button-group {
        span {
          display: block;
          margin: 16px 0 32px 0;
          font-weight: 600;
        }
      }
    }

    img {
      border-radius: $radius;
      max-height: 400px;
      @media ($desktop) {
        max-width: 90%;
        max-height: unset;
        float: right;
      }
    }
  }

  .order-pizzas {
    background-color: $light-red;
    ui-location-search {
      input {
        border: none;
        background-color: $light-red;
        box-shadow: none;
        height: 2.2rem;
        font-size: 1.9rem;

        @media ($under-tablet) {
          height: 1rem;
          font-size: 0.9rem;
        }

        font-weight: 700;
        &::placeholder,
        & {
          color: $blue;
        }
        margin-left: 14px;
      }
      &:before {
        height: 2.8rem;
        font-size: 2.8rem;
        @media ($under-tablet) {
          height: 1.3rem;
          font-size: 1.3rem;
        }

        font-weight: 700;
        color: $blue;
        content: "\26B2";
        width: 1px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        display: block;
        position: absolute;
        z-index: 1;
        margin-top: -2px;
      }
    }
  }

  .totals {
    background-attachment: fixed;
    background: linear-gradient(180deg, rgba(138, 203, 208, 0) 0%, rgba(138, 203, 208, 0.1) 100%);
  }
  .stats-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    @media ($under-tablet) {
      flex-wrap: wrap;
    }

    .stat {
      width: 33%;
      text-align: center;
      padding: 0.75rem 0;

      @media ($under-tablet) {
        flex-basis: 50%;
      }

      @media ($tablet) {
        display: table-cell;
        text-align: center;
        padding: 1rem;
        border-bottom: none;
        margin-right: 2px;

        &:last-of-type {
          border-right: none;
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      .stat-emoji {
        font-size: 40px;
        display: block;
      }
      .stat-number {
        font-size: 28px;
        font-weight: 600;
        color: $blue;

        @media ($tablet) {
          font-size: 2.8rem;
        }
      }

      .stat-label {
        display: block;
        font-size: 14px;

        @media ($tablet) {
          font-size: 16px;
        }
      }
    }
  }

  $under-tweet: "max-width: 980px";

  .tweets-deliveries .container {
    display: flex;
    position: relative;

    @media ($under-tweet) {
      flex-wrap: wrap;
    }
  }

  .tweets {
    width: 70%;
    margin: 10px 10px 0 0;

    @media (max-width: 980px) {
      width: 100%;
    }

    .tweets-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media ($under-tweet) {
        flex-wrap: wrap;
      }

      .tweet-wrapper {
        width: 48%;
        margin: 4px;
        text-align: left;
        padding: 0.75rem 0;

        @media ($under-tweet) {
          width: 80%;
        }
      }
    }
  }
  .deliveries {
    width: 30%;
    background-color: $tan;
    border-radius: $radius;
    padding: 0 10px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 10px;

    .deliveries-wrapper {
      overflow-y: scroll;
      height: 93%;
    }

    @media ($under-tweet) {
      width: 100%;
      position: relative;
      right: unset;
      top: unset;
      bottom: unset;
      .deliveries-wrapper {
        max-height: 400px;
      }
    }

    .delivery {
      border-bottom: 1px solid $gray2;
      margin: 10px 0;
      padding: 4px 0;
      h5 {
        margin: 0;
        line-height: 0.5rem;
        font-size: 0.85rem;
      }
      .time {
        font-size: 0.6rem;
        color: $gray4;
      }
      p {
        color: $gray4;
        font-size: 0.75rem;
        font-weight: normal;
        a {
          color: $gray4;
        }
      }
    }
  }

  .is-round {
    margin: 0 16px;
    .container {
      border-radius: 16px;
    }
  }

  .donate {
    display: none;
    @media ($tablet) {
      display: block;
    }

    .container {
      background: $light-red;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    img {
      height: 120px;
      margin: 16px;
      border-radius: 120px;
    }
    h1 {
      letter-spacing: -1.5px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    .donate-button {
      margin-right: 30px;
    }
  }

  .press {
    .container {
      background-color: $tan;
    }

    h3 {
      text-align: left;
    }

    .story {
      @media ($tablet) {
        width: 46%;
        margin: 20px 2%;
      }
      margin: 20px;
      display: table;
      vertical-align: top;
      img {
        max-height: 32px;
      }
      a {
        font-size: 0.75rem;
      }
    }

    .container {
      padding: 20px;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-items: start;
    }

    a {
      width: 40%;
      display: inline-block;
    }

    @media ($tablet) {
      a {
        width: 20%;
      }
    }
  }
  .newsletter {
    .container {
      background-color: $red;
      display: flex;
      @media ($tablet) {
        text-align: left;
      }
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      padding: 30px;
    }
    h1 {
      text-transform: uppercase;
      margin: -4px 0 0 0;
      @media ($tablet) {
        font-size: 42px;
      }
    }

    form {
      width: 84%;
    }
    .newsletter-text,
    form {
      margin: 4px 0;
      @media ($tablet) {
        width: 50%;
        margin: 0;
      }
    }

    .email-signup-input {
      border: 0;
      width: calc(100% - 100px);
      float: left;
      border-radius: $radius 0 0 $radius;
    }

    .email-signup-button {
      float: left;
      width: 100px;
      margin: 0;
      border-radius: 0 $radius $radius 0;
    }
  }
}
