page-report {
  .container {
    padding-top: 30px;
  }

  .report {
    background-color: $blue;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;
    color: $white;
    padding-bottom: 40px;
    h1 {
      color: white;
      text-align: left;
      padding-bottom: 8px;
    }
    input[type="submit"],
    .submit {
      background-color: $blue2;
    }
  }
}
