page-report {
  .container {
    padding-top: 30px;
  }

  .report {
    background-color: $cyan;
    background-image: url("/images/bg2.png");
    background-attachment: fixed;
    background-size: 400px;
    padding-bottom: 40px;
  }

  #address {
    margin-bottom: 1.5rem;
    padding: 0;

    td.label {
      display: table-cell;

      @media ($under-tablet) {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }

  .agreement {
    font-size: 13px;

    stencil-route-link a {
      color: $blue;
      text-decoration: underline;
    }
  }
}
