page-deliveries {
  ui-main-content {
    &:first-child .container {
      padding-top: 0.1em;
    }
    .background {
      background-color: $yellow;
      background-image: url("/images/bg1.png");
      padding-bottom: 10px;
    }
    &.selected-location {
      a,
      h3 {
        color: $white;
      }
      .background {
        background-color: $teal;
        background-image: url("/images/bg2.png");
      }
    }
  }

  a {
    cursor: pointer;
  }

  hr.heavy {
    width: 100%;
    background-color: $red;
    height: 8px;
    margin: 0;
  }

  .food-choices {
    font-size: 0.9em;
    font-weight: 600;
    margin: 1.5em 0 1em 0;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: flex-start;
      li {
        margin: 0 1em 0 0;
        list-style: none;
        cursor: pointer;
        padding: 0.25em 0.5em;
        border-radius: 25px;
        background-color: $gray1;
        transition: all 0.2s ease-in-out;
        @include unselectable;
        &.selected {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
