ui-dynamic-text {
  .placeholder {
    & .line {
      height: 16px;
      margin: 0.25em 0;
      animation: pulse 1s infinite ease-in-out;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.2);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.4);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.2);
  }
}
