@mixin base-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $radius;
  box-shadow: none;
  display: inline-flex;
  font-size: 16px;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  // States
  &:focus,
  &:active {
    outline: none;
  }

  &.is-disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}
