// Brand colors
$red: #db2b39;
$yellow: #f3a712;
$blue: #29335c;
$cyan: #00c1cc;
$teal: #00828d;
$gray1: #e8e9ee;
$gray2: #c0c3d1;
$gray3: #9b9fb1;
$white: #ffffff;
$black: #000000;

// Vanity color names
$tomato: $red;
$cheese: $yellow;
$black-olive: $blue;

// External brand colors
$twitter: #1da1f2;
$facebook: #4267b2;
